[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
asynctest = "*"
v = {editable = true,version = "*"}

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
requests = "*"

[requires]
python_version = "3.8"
